@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  background-color: #ddd;
}
h1 {
  font-family: Oswald;
  margin: 10px 0px;
  font-size: 30px;
}
h3 {
  margin: 10px 0;
}
a:hover {
  font-weight: 700;
  color: #900;
}

#runewordsList a:hover {
  font-weight: 700;
  color: rgb(255, 230, 0);
}

#container {
  max-width: 800px;
  margin: 10px auto;
}
.content {
  margin: 10px auto;
  line-height: 1.5em;
}
#message {
  margin: 10px;
  list-style: none;
}
ul {
  list-style: none;
}
ul li {
  padding: 5px 0;
}

#runewordsList {
  width: 700px;
  /* display: grid;
  grid-template-columns: auto auto; */
  /* vertical-align: middle; */
}

#runewordsList td {
  padding: 7px;
  vertical-align: bottom;
}

#runewordsList tr:hover {
  background-color: #600;
  color: #fff;
}
